<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlasers.opening.modules.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xlasers.opening.modules.sys.entity.SysUserDO">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
    </resultMap>

    <!--获取用户权限id-->
    <select id="selectMenuIdsByUserId" resultType="java.lang.Long">
      select distinct menu_id
      from sys_user_role ur, sys_role_menu rm
      where ur.user_id = {#id} and ur.role_id = rm.role_id
    </select>

    <!--获取用户权限name集合-->
    <select id="selectPermsByUserId" resultType="java.lang.String">
      select m.perms
      from sys_user_role ur, sys_role_menu rm, sys_menu m
      where ur.user_id = {#id} and ur.role_id = rm.role_id and m.menu_id = rm.menu_id
    </select>

</mapper>
